.loginForm_container {
  height: 100vh;
  margin: 0 auto;
}

.loginForm_main {
  position: relative !important;
  top: 75px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.loginForm_floatMenu {
  position: relative !important;
  top: 2rem;
}
